<div id="copyright">
	<div class="link-jw warp"> 
		<a href="http://www.tencent.com/zh-cn/index.shtml" _stag="dhv1.buttom.text.1">关于腾讯</a> 
		<a href="http://www.tencent.com/en-us/index.shtml" _stag="dhv1.buttom.text.2">About Tencent</a> 
		<a href="http://www.qq.com/contract.shtml" _stag="dhv1.buttom.text.3">服务条款</a> 
		<a href="https://tg.qq.com/" _stag="dhv1.buttom.text.4">广告服务</a> 
		<a href="http://www.tencent.com/zh-cn/at/contactus.shtml" _stag="dhv1.buttom.text.5">商务洽谈</a> 
		<a href="http://hr.tencent.com/" _stag="dhv1.buttom.text.6">腾讯招聘</a> 
		<a href="http://gongyi.qq.com/" _stag="dhv1.buttom.text.7">腾讯公益</a> 
		<a href="http://kf.qq.com/" _stag="dhv1.buttom.text.8">客服中心</a> 
		<a style="color:red;" href="http://support.qq.com/write.shtml?fid=542&ADPUBNO=" _stag="dhv1.buttom.text.9">用户反馈</a> 
		<a href="http://www.hao.qq.com/hpphelp.html" _stag="dhv1.buttom.text.11">主页保护</a>
		<a href="http://hao.qq.com/setHomePage.htm" _stag="dhv1.buttom.text.10">设为首页</a>
	</div>
	<p class="copyright-jw warp"> Copyright © 1998 - 2013 Tencent. All Rights Reserved. </p>
</div>